body {	
	background-color: black;
	color: white;	
	font-family: sans-serif;
}

.myname {
	color: red;
	font-family: century;
	background-color: blue;
}

.engineer{
	color: white;
	font-family: century;
	background-color: blue;
}



#linkedin{
	margin: 3px;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid white;
	border-collapse: collapse;
}

td, th {
	border: 1px solid white;
	padding: 3px;
	text-align: center;
}
