body {
	background-color: black;
	color: white;	
	font-family: sans-serif;
}

h1 {
	color: red;
	font-family: BankGothic;
}

div{
	margin: 0 auto;
}

#linkedin{
	margin: 3px;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid white;
	border-collapse: collapse;
}

td, th {
	border: 1px solid white;
	padding: 3px;
	text-align: center;
}
